*.h5
*.log
*.png
*.pyc
*.pt
*.swp
.DS_Store
.idea/
.vscode/
.venv/
.dvc/
Juneberry.egg-info
.coverage
htmlcov/

# Ignore models except the config and DVC files
models/*/*
!models/**/config.json
!models/**/*.dvc

experiments/*/*
!experiments/**/*.json
!experiments/**/*.dvc
experiments/**/rules.json


# The checkpoints directory will contain checkpoints from the container
checkpoints/

# Ignore some tool support directories
scripts/resnet-summaries/latest

# A place to hide things
nothingtoseehere

# We don't want doit stuff
**/.doit.db*
