doit==0.33.1
numpy
matplotlib==3.5.1
pycocotools==2.0.4
Pillow==8.3.2
prodict==0.8.18
hjson==3.0.2
jsonschema==4.1.0
sklearn==0.0
tensorboard
torch==1.9.0
torchvision==0.10.0
torch-summary==1.4.5
PyYAML==5.4.1
natsort==7.1.1
protobuf==3.16.0
onnx==1.10.2
pytest==6.2.5
pylint==2.10.2
